.music-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px 30px;
    position: relative;
    margin: 100px auto;
    max-width: 500px;
    z-index: 10;
}

.music-info {
    text-align: center;
    margin-bottom: 30px;
}

.music-info h3 {
    color: #FFD700;
    margin: 0;
}

.progress-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background: #FFD700;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background: none;
    border: none;
    color: #FFD700;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    font-size: 30px;
}

.action-btn:focus {
    outline: none;
}

.action-btn:hover {
    color: #fff;
}